body {
  margin: 0px;
}

.backg {
  width: 100%;
  background-image: url("https://i.ytimg.com/vi/LEFpRohQL4k/maxresdefault.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bx {
  border: 5px solid black;
  border-radius: 80px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 60%;
  height: 60%;
  justify-content: center;
  color: white;
}

.bx input {
  border: none;
  border-radius: 90px;
  width: 30%;
  margin: 5px;
  padding: 10px;
}

.bx h1 {
  font-size: 50px;
}

.bx h2 {
  font-size: 40px;
}

.bx h3 {
  font-size: 20px;
}
